#addBtn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  background: black;
  color: white;
}